<p>To continue payment follow the link below</p>
<a href="<%= @invoice_link %>" target="_blank"><%= @invoice_link %></a>
<p class="link_to_back"><%= link_to "Back to company page", @company, { class: "link" } %></p>
