// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comments {
  border-bottom: #666666;
  height: 50vh;
  overflow-y: auto;
}

.new-comment {
  padding-top: 10px;
}

.comments-section {
  background-color: rgba(0, 171, 255, 0.23);
  border-top: solid;
  margin-top: 30px;
}
