// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.donate-button {
  width: 200px;
  height: 80px;
  border-radius: 40px;
}

.donate-button-header {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 2px solid black;
  border-radius: 10px;
}

.current-bank {
  padding-bottom: 20px;
}

.reward-container {
  border-radius: 10px;
}
