// Place all the styles related to the MainPage controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.news {
  padding-left: 10px;
  padding-top: 10px;
}

.search-company {
  padding-left: 50px;
}

.error {
  background: orangered;
  border-radius: 4px;
}

.flash {
  background: cyan;
  border-radius: 3px;
}

.search-heading {
  padding-top: 20px;
  padding-bottom: 30px;
}

.link_to_back {
  padding-top: 20px;
}
