// Place all the styles related to the NewsRecord controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.news-section {
  padding-top: 20px;
}

.news-record {
  margin-bottom: 5px;
  border-bottom: solid 1px;
  .delete {
    text-align: right;
  }
}

.form-inputs {
  ::placeholder {
    color: #BBBBBB;
  }
  .field {
    input {
      background-color: #666666;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    textarea {
      min-width: 500px;
      min-height: 150px;
      border-radius: 5px;
      background-color: #666666;
      border: 1px solid #ccc;
    }
  }
}
